<html>
<head>
    {{ fontawesome_html() }}
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form_css.css') }}">
    <style>
    </style>
</head>
<body>

<div class="testbox">
    <h1>Registration</h1>

    <form action="/connect" method="post">
        <hr>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry and typesetting industry and typesetting industry and typesetting industry

        <hr>


        <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>

        <input type="submit" value="Register" class="fsSubmitButton">
        <!--        <a href="#" type="submit" class="button">Register</a>-->
    </form>
</div>

</body>
</html>
